<h1>Secret page</h1>

<%= link_to "My Account", root_path %>

<p>Only logged in users can see this.</p>

<p>You are only able to see this because you are logged in. This could be, for example,
    a list of your posts, or other things created via a model. That is because you are logged in via: 
    the current_user method on the Application Controller:</p>

<code>  
  helper_method :current_user<br /><br />
  def current_user<br /><br />
    @current_user ||= session[:user_id] && User.find_by(id: session[:user_id])<br /><br />
  end<br /><br /> 
</code>

<p>This code makes current_user a method available to any controller and view. It only works because you first have
to login via user_sessions/new and provide a password which, once hashed, matches the password_digest stored in the 
database. This sets session[:user_id]. Then, in this method, it sets the instance variable @current_user equal to
    the user via User.find_by(), placing the id of the user via the session.</p>

<p>So, in short, it goes: make user ->
    login user (matched password) ->
    create session ->
    use session to provide id -> 
    use that id to run User.find_by() and then return that object as the implicit return value of current_user. Now, 
    on the pages you want it to, a logged-in user can do whatever.</p>

    ID: <%= current_user.id %><br />
    Name: <%= current_user.name %><br />
    Password_hash: <%= current_user.password_digest %><br />