/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    font-family: "Inter";
}

.centre {
    text-align: center;
}

#signup,
#login {
    margin: auto;
    width: 30%;
    padding: 1rem;
    background: pink;
    border-radius: 50px;
 }

input, 
label, 
.messages {
    margin-bottom: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    letter-spacing: 3px;
 }

 input {
    width: 80%;
    display: block;
    padding: 0.5rem;
    border: none;
    border-radius: 25px;    
    margin: 0 auto;
 }

 .messages li {
    list-style-type: none;
 }

/* .users table tr {
    padding: 1rem;
    border: 1px solid black;
 }

tbody tr {
    border-bottom: 1px solid black;
 } */
